[submodule "l298n"]
	path = /home/sean/ipendulum/drivers/l298n
	url = https://github.com/seanybaggins/l298n.git 
[submodule "es38"]
	path = /home/sean/ipendulum/drivers/es38
	url = https://github.com/seanybaggins/es38.git 
[submodule "stm32f3xx-hal"]
	path = /home/sean/ipendulum/stm32f3xx-hal
	url = https://github.com/seanybaggins/stm32f3xx-hal.git 
