[submodule "l298n"]
	path = l298n
	url = /home/sean/ipendulum/drivers/l298n/
[submodule "es38"]
	path = es38
	url = /home/sean/ipendulum/drivers/es38/
[submodule "stm32f3xx-hal"]
	path = stm32f3xx-hal
	url = /home/sean/ipendulum/implementation/stm32f3xx-hal/
